{% extends "base.html" %}

{% block content %}
    <h1> TSV Fußballcamp - Chef-Seite </h1>
    <p style="font-style:italic"> Hier werden alle registrierten Kinder mit Informationen angezeigt </p>
    <table id="t01">
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Telefon</th>
        <th>PLZ</th>
        <th>Ort</th>
        <th>Trikot-Größe</th>
        <th>Trikot-Aufdruck</th>
    {% for player in players %}
        <tr>
        <td> {{ player.vorname }} </td>
        <td> {{ player.nachname}} </td>
        <td>{{ player.telefon }} </td>
        <td>{{ player.plz }}</td>
        <td>{{ player.ort}} </td>
        <td> {{ player.jersey_size }} </td>
        <td> {{ player.jersey_print }} </td>
    {% endfor %}
    </table>
{% endblock %}
