<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    {% if title %}
    <title>{{ title }} - TSV Fußballcamp </title>
    {% else %}
    <title> Home - TSV Fußballcamp </title>
    {% endif %}
</head>

<body>
    <div>
        TSV Fußballcamp 
        <a href="/index">Home</a>
        <a href="/signup">Anmelden</a>
        <a href="/admin">Chef</a>
    </div>
    <hr>
    {% with messages= get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages%}
        <li> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>
